{{ $alt := .Get "alt" | default "Image" }}
{{ $type := .Get "type" | default "normal" }}
{{- $ind := .Get "ind" | default .Site.Params.marginNoteInd -}}

<!-- get a default label just in case -->
{{- $label := printf "%#v" (add .Ordinal 1) | printf "%s%s" "marginfig-" | printf "%s" -}}
{{- if .Get "label" -}}
{{- $label = .Get "label" -}}
{{- end -}}

{{- if eq $type "normal" -}}
<figure>
  {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
    <img src="{{ .Get "src" }}" alt="{{ $alt }}">
    {{ if .Get "link" }}</a>{{ end }}
  <figcaption>
    {{ with .Get "title"}}<strong>{{ . | markdownify }}. </strong>{{ end}}
    {{ with .Get "caption"}}{{ . | markdownify }}{{ end }}
  </figcaption>
</figure>
{{- end -}}

{{- if eq $type "full" -}}<!-- full -->
<figure class="fullwidth">
  {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
    <img src="{{ .Get "src" }}" alt="{{ $alt }}">
    {{ if .Get "link" }}</a>{{ end }}
  <figcaption>
    {{ with .Get "title"}}<strong>{{ . | markdownify }}. </strong>{{ end}}
    {{ with .Get "caption"}}{{ . | markdownify }}{{ end }}
  </figcaption>
</figure>
{{- end -}}

{{- if eq $type "margin" -}}<!-- begin marginnote -->
<label for="{{ $label }}" class="margin-toggle marginnote-ind">{{ $ind }}</label>
<input type="checkbox" id="{{ $label }}" class="margin-toggle"/>
<span class="marginnote">
    {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
      <img src="{{ .Get "src" }}" alt="{{ $alt }}">
      {{ if .Get "link" }}</a>{{ end }}

    {{ with .Get "title"}}<strong>{{ . | markdownify }}. </strong>{{ end }}
    {{ with .Get "caption"}}{{ . | markdownify }}{{ end }}
</span>
{{- end -}}
